.Card--Container--Travel {
    display: flex;
    overflow-x: scroll;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    overflow-x: scroll;
    flex-shrink: 0;
    overflow-wrap: normal;
  }

@media (max-width: 600px) {
    .Card--Container--Travel {
        height: 170%;
    }
    #myVideo{
        display: none;
    }

}

 