@media (max-width: 600px) {
    .Card{
        height: 20rem;
        width: 15rem;
        translate: 30%;
    }

    .image{
        height: 20rem;
        width: 15rem;
    }
    .background-video{
        display: none;
    }
}